body {
 margin: 20px;
}
* {
    box-sizing: border-box;
}
h1 {
    width: auto;
    text-align: center;
}
    .sections-container {
        margin-left: auto;
        margin-right: auto;
    }    
    .sections-item {
        align-items: center;
        overflow: scroll;
        background-color: #c0dfe9;
        margin-right: 10px;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid black;
        height: 400px;
        
    }
    .sections-item h2 {
        width: auto;
        text-align: right;
        position: relative;
        padding: 10px;
        border: 1px solid black;
    }

    .sections-item p {
        width: 90%;
        

    }

    #section-1 h2 {
        background-color: violet;
    }
    #section-2 h2 {
        background-color: lightblue;
    }
    #section-3 h2 {
        background-color: lime;
    }
@media (min-width: 992px) {
    .sections-item {
        width: 32%;
        float: left;
        
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sections-item {
        width: 48.5%;
        float: left;
    }
    #section-3 {
        width: 100%;
        float:none;
    }
}

